body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main-section {
    background-image: url('https://your-image-url.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

#main-section .content {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 10px;
    /* margin-left: 30vw;*/
    margin-top: 20vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;

}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

p {
    font-size: 1.5em;
    margin-top: 10px;
}
.nav-side-btn{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    padding: 10px;
}
.button-send{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-inside{
    background-color: rgba(241,185,102,255);
    margin-top: 20px;
}


.flex-justify{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.margin-b{
   margin-top: 200px;
}
.colour-red{
    color: red;
}
.contactInfo{
    display: flex;
    flex-direction: column;
}